package frontend

import "scurvy10k/src/models"

templ Debt(debts []models.PlayerDebt) {
    <h1>Debts</h1>
    for _, debt := range debts {
        <div>
            {debt.Name} {debt.Amount}
        </div>
    }
}
