.ripple {
    background-position: center;
    transition: background 0.4s;
}

.ripple:active {
    background-color: #2eb9f7;
    background-size: 100%;
    transition: background 0s;
}

/* Button style */
button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
}
